.header-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: black;
  
    position: sticky; /* Fija el header */
    top: 0; /* Lo posiciona en la parte superior */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  }
  
  
  .profile-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    padding-left: 1.6rem;
  }
  
  .profile-button img{
    width: 2.5rem;
  }
  
  .person-icon {
    padding-top: 0.25rem;
  }
  
  .right-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-right: 1.8rem;
  }
  
  .right-section img {
    width: 2.3rem;
  }
  
  .add-button {
    padding: 3px 6px;
    border: none;
    border-radius: 20px;
    background-color: hwb(0 50% 50% / 0.575);
    color: yellow;
    cursor: pointer;
  }
  
  .unlock-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    gap: 2rem;
  
    background-color: yellow;
    font-weight: bold;
    margin: 1rem;
    color: black;
  }
  
  .unlock-all img {
    width: 7rem;
  }
  
  .unlock-text {
    display: flex;
    flex-direction: column;
    height: 100px;
    gap: 2rem;
    font-size: 2.5rem;
  }
  
  .content-icon-footer {
    display: flex;
    background-color: white;
    border-radius: 100px;
  }
  
  .outline-icon {
    width: 40px;
    width: 40px;
  }